<section class="u-py-100 u-flex-center u-h-100vh parallax-about">
   <div class=container>
   <div class=row>
      <div class="text-center col-12 u-mt-80">
         <div class="text-center col-12 u-mt-80">
            <h1 class=text-white>About Us</h1>
            <div class="rounded u-h-4 u-w-50 bg-white mx-auto my-4"></div>
            <p class="text-white lead">Meet the amazing team behind this project and find out more
               <br>about how we work.
         </div>
      </div>
   </div>
</section>
<section class=bg-white>
   <div class=container>
      <div class="row align-items-center">
         <div class="text-center col-lg-5 mb-4 mr-auto">
            <%=image_tag("about/sc-1.jpg", class: "rounded w-100 wow fadeInLeft", alt: "")%>
         </div>
         <div class=col-lg-6>
            <h2 class=h1>
               <span class=text-primary>Who</span> We Are
            </h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-purple"></div>
            <p class=mb-5>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that
               doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
            <ul class="list-unstyled u-fw-600">
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Professional and easy to use software
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Setup and installations takes 30 seconds
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Perfect for any device with pixel perfect design
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Setup and installations really really fast
            </ul>
         </div>
      </div>
   </div>
</section>
<hr class=m-0>
<section>
   <div class=container>
      <div class="row align-items-center">
         <div class=col-lg-6>
            <h2 class=h1>What We Do</h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-purple"></div>
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that
               doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
            <div class="mt-4 media">
               <span class="icon text-primary mr-3 mt-2 u-fs-28 icon-Web"></span>
               <div class=media-body>
                  <h4 class=h5>Work With Any Team</h4>
                  <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem
                     por legere me that doming vulputate.
               </div>
            </div>
            <div class="mt-4 media">
               <span class="icon text-primary mr-3 mt-2 u-fs-28 icon-Bulb"></span>
               <div class=media-body>
                  <h4 class=h5>A Productivity Platform</h4>
                  <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem
                     por legere me that doming vulputate.
               </div>
            </div>
         </div>
         <div class="text-center col-lg-5 ml-auto">
            <%=image_tag("about/sc-2.jpg", class: "rounded w-100 wow fadeInRight", alt: "")%>
         </div>
      </div>
   </div>
</section>
<section class="u-py-100 u-flex-center u-h-100vh" data-parallax=assets/img/about/hero4.jpg id=features>
   <div class=container>
      <div class="row text-center">
         <div class=col-12>
            <h1 class=text-white>Our Services</h1>
            <div class="rounded u-h-4 u-w-50 mt-4 mx-auto bg-pure-white u-mb-40"></div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-green">
                  <span class="icon u-fs-42 icon-Tools"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">Powerfull Features</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-primary">
                  <span class="icon u-fs-42 icon-Starship2"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">Awesome Design</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-yellow">
                  <span class="icon u-fs-42 icon-MessageLeft"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">Unlimited Support</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-primary">
                  <span class="icon u-fs-42 icon-Notebook"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">Fully Responsive</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-red">
                  <span class="icon u-fs-42 icon-Bulb"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">Clean Code</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
         <div class="col-md-6 col-lg-4 u-mt-30">
            <div class="rounded box-shadow-v1 bg-pure-white px-4 px-md-5 py-5 u-h-100p">
               <div class="text-white m-auto rounded-circle u-flex-center u-h-90 u-w-90 bg-purple">
                  <span class="icon u-fs-42 icon-Magnet"></span>
               </div>
               <h4 class="u-fs-26 u-pb-20 u-pt-30">UI Elements</h4>
               <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class=h1>The Executive Team</h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mb-5 mx-auto bg-primary"></div>
         </div>
      </div>
      <div class="row align-items-center">
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/1_1.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class=mb-0>Natalie Paisley</h4>
                  <p class="mb-0 text-muted">Founder & CEO
                  <p class=my-4>Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                  <ul class="list-inline social social-rounded social-default social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/3.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class=mb-0>Anthony Jackson</h4>
                  <p class="mb-0 text-muted">Senior Developer
                  <p class=my-4>Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                  <ul class="list-inline social social-rounded social-default social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/2.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class=mb-0>Philip Demarco</h4>
                  <p class="mb-0 text-muted">Designer
                  <p class=my-4>Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                  <ul class="list-inline social social-rounded social-default social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
         <div class=col-lg-6>
            <div class=row>
               <div class="my-4 col-md-6">
                  <%=image_tag("person/4.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
               </div>
               <div class="my-4 col-md-6">
                  <h4 class=mb-0>Peter Spenser</h4>
                  <p class="mb-0 text-muted">Creative Developer
                  <p class=my-4>Nam liber tempor cum soluta nobis eleifend option congue is nihil they imper.
                  <ul class="list-inline social social-rounded social-default social-sm">
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-facebook"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-twitter"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-google-plus"></i>
                        </a>
                     <li class=list-inline-item>
                        <a href=#>
                        <i class="fa fa-linkedin"></i>
                        </a>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class=h1>
               Why We are the
               <span class=text-primary>Best</span>
               <div class="rounded u-h-4 u-w-50 mt-4 mb-5 bg-purple mx-auto"></div>
            </h2>
         </div>
         <div class="mt-4 col-lg-6 pr-lg-5">
            <p class=mb-4>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that
               doming vulputate velit esse molestie possim wisi enim ad placerat facer possim assum minim
               there veniam, nostrud exerci tation ullamcorper quis nostrud.
            <ul class="list-unstyled u-fw-600">
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle  mr-2 u-fs-20"></span> Listen to Social Conversations
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Performance Analyze
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> A Productivity Platform
               <li class="align-items-center d-flex mb-2">
                  <span class="fa color-purple fa-check-circle mr-2 u-fs-20"></span> Work With Any Team
            </ul>
         </div>
         <div class="mt-4 col-lg-6">
            <div class="progress-item mb-5">
               <span>Python and Django</span>
               <h4 class="text-primary float-right">85%</h4>
               <div class="progress w-100">
                  <div class=progress-bar style=width:85%></div>
               </div>
            </div>
            <div class="progress-item mb-5">
               <span>Laravel</span>
               <h4 class="text-primary float-right">70%</h4>
               <div class="progress w-100">
                  <div class=progress-bar style=width:70%></div>
               </div>
            </div>
            <div class="progress-item mb-5">
               <span>HTML CSS JS</span>
               <h4 class="text-primary float-right">90%</h4>
               <div class="progress w-100">
                  <div class=progress-bar style=width:90%></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="u-py-100 u-flex-center u-h-100vh" data-parallax=assets/img/about/features.jpg id=features>
   <div class=container>
      <div class=row>
         <div class="text-center col-12">
            <h2 class="h1 text-purple">What Our Customers Say</h2>
            <div class="rounded u-h-4 u-w-50 mt-4 mx-auto bg-white u-mb-60"></div>
         </div>
      </div>
      <div data-init=carousel data-slick='{ "slidesToShow":1, "dots":true, "arrows":false, "dotsClass":"slick-dots dots-white text-center"}'
         data-slick-margin=30>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <%=image_tag("person/1.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>Kenelia Deshmukh</h4>
            <p class=text-muted>Creative Director
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <%=image_tag("person/2.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>Dorian Black</h4>
            <p class=text-muted>Manager
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
         <div class="rounded my-4 box-shadow-v2 p-5 text-center">
            <%=image_tag("person/3.jpg", class: "rounded box-shadow-v1 w-100", alt: "")%>
            <h4>David Case</h4>
            <p class=text-muted>Designer
            <p>Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere
               me doming vulputate velit esse molestie possim. Ut wisi enim ad placerat facer.
         </div>
      </div>
   </div>
</section>
<section class=u-py-100 style="background:#372049">
   <div class=container>
      <div class=row>
         <div class="text-center col-12 align-items-center d-flex justify-content-center">
            <h2 class="text-white h1 mx-md-5">Let's Start an Awesome Project Now!</h2>
            <a href=# class="btn btn-primary btn-rounded">Let’s Talk</a>
         </div>
      </div>
   </div>
</section>