<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center primary-back-color">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-purple">
						Blog Grid
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead text-purple">
						Read and get updated on how we progress.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-md-6 mb-4">
                            <div class="card border-0 box-shadow-v1 u-h-100p">
                            <%=image_tag("blog/1.jpg" , alt: "")%>
								
								<div class="u-p-30 bg-white">
									<h4>Contrast and Similarity in Design</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil
									</p>
									<a href="#" class="btn btn-purple my-3">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4">
							<div class="card border-0 box-shadow-v1 u-h-100p">
                            <%=image_tag("blog/3.jpg", alt: "")%>
								<div class="u-p-30 bg-white">
									<h4>
										Hyper conv in 2018
									</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
									</p>
									<a href="#" class="btn btn-purple my-3">
										Read More
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4">
							<div class="card border-0 box-shadow-v1 u-h-100p">
							<%=image_tag("blog/3.jpg", alt: "")%>
								<div class="u-p-30 bg-white">
									<h4>
										Hyper conv in 2018
									</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
									</p>
									<a href="#" class="btn btn-purple my-3">
										Read More
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4">
							<div class="card border-0 box-shadow-v1 u-h-100p">
                            <%=image_tag("blog/1.jpg", alt: "")%>
								<div class="u-p-30 bg-white">
									<h4>
										Hyper conv in 2018
									</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
									</p>
									<a href="#" class="btn btn-purple my-3">
										Read More
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4">
							<div class="card border-0 box-shadow-v1 u-h-100p">
                            <%=image_tag("blog/1.jpg", alt: "")%>
								<div class="u-p-30 bg-white">
									<h4>Contrast and Similarity in Design</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil
									</p>
									<a href="#" class="btn btn-purple my-3">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 mb-4">
							<div class="card border-0 box-shadow-v1 u-h-100p">
							<%=image_tag("blog/3.jpg", alt: "")%>
								<div class="u-p-30 bg-white">
									<h4>
										Hyper conv in 2018
									</h4>
									<p class="d-flex text-muted">
										<span>
											<i class="icon icon-Time mr-1"></i> May 24, 2017</span>
										<span>
											<i class="icon icon-Eye mr-1 ml-3"></i> 468 views</span>
									</p>
									<p>
										Nam liber tempor cum soluta nobis eleif end option congue is nihil imper per tem por legere me
									</p>
									<a href="#" class="btn btn-purple my-3">
										Read More
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<aside id="sidebar" class="col-lg-4">
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Search For</h2>
						<div class="widget-content">
							<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
								<div class="input-group-addon bg-white border-0 pr-3 pr-4 icon-padding">
									<span class="icon icon-Search text-primary"></span>
								</div>
								<input type="text" class="form-control border-0 p-3" placeholder="Type & hit enter">
							</div>
						</div>
					</div>
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Categories</h2>
						<div class="widget-content">
							<ul>
								<li>
									<a href="#">Branding / Design
										<span class="badge">67</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">2</span>
									</a>
								</li>
								<li>
									<a href="#">Uncategorized
										<span class="badge">7</span>
									</a>
								</li>
								<li>
									<a href="#">Branding / Design
										<span class="badge">20</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">26</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="post-tabs">
							<div class="post-tab-list clearfix">
								<h2 class="sidebar-widget-title">
									<a href="#tab-1" data-tab="tab-1" class="active">recent posts</a>
								</h2>
								<h2 class="sidebar-widget-title">
									<a href="#tab-2" data-tab="tab-2" class="">popular posts</a>
								</h2>
							</div>
							<div class="widget-content">
								<div id="tab-1" class="post__tab-content active">
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
								<div id="tab-2" class="post__tab-content">
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="tag-cloud">
							<h2 class="sidebar-widget-title">popular tags</h2>
							<div class="widget-content tags-list">
								<a href="#">Fashion</a>
								<a href="#">Audio</a>
								<a href="#">Lifestyle</a>
								<a href="#">Travel</a>
								<a href="#">Food</a>
								<a href="#">Products</a>
								<a href="#">Education</a>
								<a href="#">envato</a>
								<a href="#">UI UX</a>
								<a href="#">WordPress</a>
								<a href="#">Blogging</a>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</section>