<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center primary-back-color">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="text-purple">
						How to Improve Your Design!
					</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
                    <article class="blog-details">
                    <%=image_tag("blog/1_1.jpg", alt: "")%>
						
						<h2 class="post-title mt-4">
							How to Improve Your Design!
						</h2>
						<div class="post-meta">
							9 Dec 2016
						</div>
						<p>
							Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per tem por legere me doming vulputate. Ipsum is
							simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever
							since the 1500s, when an unknown printer took a galley of it to make.
							<a href="#">Lorem Ipsum is the simply dummy </a> text of the printing and typesetting industry. Lorem Ipsum has been the indus
							try’s standard they dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
							to make a type specimen book. It has survived.
						</p>
						<blockquote>
							Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per tem por legere me doming vulputate. Ipsum is
							simply dummy text of the and typesetting industry
						</blockquote>
                        <h4>We just know now gonna make</h4>
                        <%=image_tag("blog/1_2.jpg", alt: "")%>
						
						<ol>
							<li>Nam liber tempor cum soluta nobis</li>
							<li>industry’s stasn ndard dummy</li>
							<li>Nam liber tempor cum soluta nobis is eleifend option congue</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						</ol>
						<p>
							Nam liber tempor cum soluta nobis is eleifend option congue nihil imper per tem por legere me doming vulputate. Ipsum is
							simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever
							since the 1500s.
						</p>
					</article>
					<div class="my-5">
						<h4>2 Comments</h4>
						<hr>
                        <div class="media mt-5">
                            <%=image_tag("person/1.jpg", class:"mr-3 rounded-circle u-w-60", alt: "")%>
							
							<div class="media-body">
								<h5 class="mt-0">Jonathon</h5>
								<span>Says August 15, 2017 at 11:33PM</span>
								<p>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
									vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
									in faucibus.
								</p>
                                <div class="media mt-5">
                                <%=image_tag("person/2.jpg", class:"mr-3 rounded-circle u-w-60", alt: "")%>
									
									<div class="media-body">
										<h5 class="mt-0">Andy</h5>
										<span>Says August 15, 2017 at 11:33PM</span>
										<p>
											Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
											vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
											felis in faucibus.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="media mt-5">
						<%=image_tag("person/3.jpg", class:"mr-3 rounded-circle u-w-60", alt: "")%>
							<div class="media-body">
								<h5 class="mt-0">Bryson</h5>
								<span>Says August 15, 2017 at 11:33PM</span>
								<p>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
									vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
									in faucibus.
								</p>
							</div>
						</div>
					</div>
					<h4 class="mb-4">Leave Your Comments</h4>
					<form action="#" method="POST">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Name" required>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control u-rounded-50 p-3 u-mb-30" placeholder="Your email" required>
							</div>
						</div>
						<textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="Youe text..." required></textarea>
						<button class="btn btn-rounded btn-purple u-w-170" type="submit">Submit</button>
					</form>
				</div>
				<aside id="sidebar" class="col-lg-4">
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Search For</h2>
						<div class="widget-content">
							<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
								<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding pr-0">
									<span class="icon icon-Search text-primary"></span>
								</div>
								<input type="text" class="form-control border-0 p-3" placeholder="Type & hit enter">
							</div>
						</div>
					</div>
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Categories</h2>
						<div class="widget-content">
							<ul>
								<li>
									<a href="#">Branding / Design
										<span class="badge">67</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">2</span>
									</a>
								</li>
								<li>
									<a href="#">Uncategorized
										<span class="badge">7</span>
									</a>
								</li>
								<li>
									<a href="#">Branding / Design
										<span class="badge">20</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">26</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="post-tabs">
							<div class="post-tab-list clearfix">
								<h2 class="sidebar-widget-title">
									<a href="#tab-1" data-tab="tab-1" class="active">recent posts</a>
								</h2>
								<h2 class="sidebar-widget-title">
									<a href="#tab-2" data-tab="tab-2" class="">popular posts</a>
								</h2>
							</div>
							<div class="widget-content">
								<div id="tab-1" class="post__tab-content active">
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
								<div id="tab-2" class="post__tab-content">
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
									
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class:"u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="tag-cloud">
							<h2 class="sidebar-widget-title">popular tags</h2>
							<div class="widget-content tags-list">
								<a href="#">Fashion</a>
								<a href="#">Audio</a>
								<a href="#">Lifestyle</a>
								<a href="#">Travel</a>
								<a href="#">Food</a>
								<a href="#">Products</a>
								<a href="#">Education</a>
								<a href="#">envato</a>
								<a href="#">UI UX</a>
								<a href="#">WordPress</a>
								<a href="#">Blogging</a>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</section>