<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center primary-back-color">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-purple">
						Latest Blog Posts
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead text-purple">
						Read and get updated on how we progress.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<article class="post box-shadow-v2 bg-white">
                        <div class="post__img">
                        <%=image_tag("blog/1_1.jpg", alt: "")%>
                        
							
						</div>
						<div class="post__content">
							<div class="post__date box-shadow-v2 d-inline-block text-center px-2 px-md-4 py-2 rounded">
								<h4 class="u-fs-20 u-fs-md-36">
									<span class="text-primary"> 20</span>
									<span class="d-block u-fs-16">March 2017</span>
								</h4>
							</div>
							<div class="post__share">
								<span class="icon icon-Share bg-white box-shadow-v2 share__icon"></span>
								<div class="post__share-media">
									<a href="#">
										<i class="fa fa-facebook bg-facebook text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter bg-twitter text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-google-plus bg-google text-white share__icon"></i>
									</a>
								</div>
							</div>
							<h2 class="post__title">
								The Important Standard Post Format
							</h2>
							<ul class="list-inline u-my-20">
								<li class="list-inline-item mr-3">
									<a href="#">By
										<strong>Admin</strong>
									</a>
								</li>
								<li class="list-inline-item mr-3">
									<a href="#">in
										<strong>Technology</strong>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="#">8
										<strong>Comments</strong>
									</a>
								</li>
							</ul>
							<p>
								Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
								esse molestie possim wisi enim ad placerat facer possim assum minim there veniam.
							</p>
							<a href="#" class="btn btn-purple u-mt-20">Read More</a>
						</div>
					</article>
					<article class="post box-shadow-v2 bg-white">
						<div class="post__img">
						<%=image_tag("blog/1_2.jpg", alt: "")%>
						</div>
						<div class="post__content">
							<div class="post__date box-shadow-v2 d-inline-block text-center px-2 px-md-4 py-2 rounded">
								<h4 class="u-fs-20 u-fs-md-36">
									<span class="text-primary"> 20</span>
									<span class="d-block u-fs-16">March 2017</span>
								</h4>
							</div>
							<div class="post__share">
								<span class="icon icon-Share bg-white box-shadow-v2 share__icon"></span>
								<div class="post__share-media">
									<a href="#">
										<i class="fa fa-facebook bg-facebook text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter bg-twitter text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-google-plus bg-google text-white share__icon"></i>
									</a>
								</div>
							</div>
							<h2 class="post__title">
								The Important Standard Post Format
							</h2>
							<ul class="list-inline u-my-20">
								<li class="list-inline-item mr-3">
									<a href="#">By
										<strong>Admin</strong>
									</a>
								</li>
								<li class="list-inline-item mr-3">
									<a href="#">in
										<strong>Technology</strong>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="#">8
										<strong>Comments</strong>
									</a>
								</li>
							</ul>
							<p>
								Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
								esse molestie possim wisi enim ad placerat facer possim assum minim there veniam.
							</p>
							<a href="#" class="btn btn-purple u-mt-20">Read More</a>
						</div>
					</article>
					<article class="post box-shadow-v2 bg-white">
						<div class="post__img">
                        <%=image_tag("blog/1_3.jpg", alt: "")%>
						</div>
						<div class="post__content">
							<div class="post__date box-shadow-v2 d-inline-block text-center px-2 px-md-4 py-2 rounded">
								<h4 class="u-fs-20 u-fs-md-36">
									<span class="text-primary"> 20</span>
									<span class="d-block u-fs-16">March 2017</span>
								</h4>
							</div>
							<div class="post__share">
								<span class="icon icon-Share bg-white box-shadow-v2 share__icon"></span>
								<div class="post__share-media">
									<a href="#">
										<i class="fa fa-facebook bg-facebook text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-twitter bg-twitter text-white share__icon"></i>
									</a>
									<a href="#">
										<i class="fa fa-google-plus bg-google text-white share__icon"></i>
									</a>
								</div>
							</div>
							<h2 class="post__title">
								The Important Standard Post Format
							</h2>
							<ul class="list-inline u-my-20">
								<li class="list-inline-item mr-3">
									<a href="#">By
										<strong>Admin</strong>
									</a>
								</li>
								<li class="list-inline-item mr-3">
									<a href="#">in
										<strong>Technology</strong>
									</a>
								</li>
								<li class="list-inline-item">
									<a href="#">8
										<strong>Comments</strong>
									</a>
								</li>
							</ul>
							<p>
								Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate velit
								esse molestie possim wisi enim ad placerat facer possim assum minim there veniam.
							</p>
							<a href="#" class="btn btn-purple u-mt-20">Read More</a>
						</div>
					</article>
				</div>
				<aside id="sidebar" class="col-lg-4">
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Search For</h2>
						<div class="widget-content">
							<div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
								<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding pr-0">
									<span class="icon icon-Search text-primary"></span>
								</div>
								<input type="text" class="form-control border-0 p-3" placeholder="Type & hit enter">
							</div>
						</div>
					</div>
					<div class="widget sidebar-widget">
						<h2 class="sidebar-widget-title">Categories</h2>
						<div class="widget-content">
							<ul>
								<li>
									<a href="#">Branding / Design
										<span class="badge">67</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">2</span>
									</a>
								</li>
								<li>
									<a href="#">Uncategorized
										<span class="badge">7</span>
									</a>
								</li>
								<li>
									<a href="#">Branding / Design
										<span class="badge">20</span>
									</a>
								</li>
								<li>
									<a href="#">Marketing
										<span class="badge">26</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="post-tabs">
							<div class="post-tab-list clearfix">
								<h2 class="sidebar-widget-title">
									<a href="#tab-1" data-tab="tab-1" class="active">recent posts</a>
								</h2>
								<h2 class="sidebar-widget-title">
									<a href="#tab-2" data-tab="tab-2" class="">popular posts</a>
								</h2>
							</div>
							<div class="widget-content">
								<div id="tab-1" class="post__tab-content active">
                                    <div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
								<div id="tab-2" class="post__tab-content">
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/2.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/3.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1_1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">Some words about my vacation</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
									<div class="media align-items-center mb-3">
                                    <%=image_tag("blog/1.jpg", class: "u-w-70 rounded-circle u-h-70 mr-3", alt: "")%>
										<div class="media-body">
											<h5>
												<a href="#">The Important Standard Post Format</a>
											</h5>
											<span class="u-fs-15">Nov 28, 2017</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="sidebar-widget">
						<div class="tag-cloud">
							<h2 class="sidebar-widget-title">popular tags</h2>
							<div class="widget-content tags-list">
								<a href="#">Fashion</a>
								<a href="#">Audio</a>
								<a href="#">Lifestyle</a>
								<a href="#">Travel</a>
								<a href="#">Food</a>
								<a href="#">Products</a>
								<a href="#">Education</a>
								<a href="#">envato</a>
								<a href="#">UI UX</a>
								<a href="#">WordPress</a>
								<a href="#">Blogging</a>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</section>