<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center text-white">
					<h1 class="text-white">
						Clients
					</h1>
					<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
					<p class="lead">
						Meet the amazing team behind this project and find out more
						<br> about how we work.
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="u-py-100">
		<div class="container">
		<div class="row">
				<div class="col-lg-6 m-auto text-center">
					<h2 class="text-purple">
						Trusted Customers Worldwide
					</h2>
					<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12" data-init="carousel" data-slick='{ "slidesToShow":5, "slidesToScroll":3, "infinite":false, "dots":true, "arrows":false, "dotsClass":"slick-dots text-center mt-4 mb-0",
					"responsive": [
						{ 
						 "breakpoint":1024,
						 "settings":{
						 	"slidesToScroll":1,
							"slidesToShow": 3
						 }
						},
						{ 
						 "breakpoint":600,
						 "settings":{
						 "slidesToScroll":2,
							"slidesToShow": 1
						 }
						}						
					]
      					  }'>
                    <div class="p-3">
                        <%=image_tag("partner/micosoft.png", alt: "")%>
					
					</div>
					<div class="p-3">
                    <%=image_tag("partner/envato.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/dribbble.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/google.png", alt: "")%>
					</div>
					<div class="p-3">
					<%=image_tag("partner/micosoft.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/micosoft.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/envato.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/dribbble.png", alt: "")%>
					</div>
					<div class="p-3">
					<%=image_tag("partner/google.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/micosoft.png", alt: "")%>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="u-py-100">
		<div class="container">
			<div class="row">
				<div class="col-12 d-md-flex justify-content-between text-center">
					<div class="p-3">
                    <%=image_tag("partner/micosoft.png", alt: "")%>
					</div>
					<div class="p-3">
					<%=image_tag("partner/envato.png", alt: "")%>
					</div>
					<div class="p-3">
					<%=image_tag("partner/dribbble.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/google.png", alt: "")%>
					</div>
					<div class="p-3">
                    <%=image_tag("partner/micosoft.png", alt: "")%>
					</div>
				</div>
			</div>
		</div>
	</section>