<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center main-bg-gradient-1">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white">
          <h1 class="text-white">
            Gallery
          </h1>
          <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
          <p class="lead">
            You can find several product design by our professional team
            <br> in this section.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row" data-init="img-gallery">
        <div class="col-md-6 col-lg-4 portfolio-item cat1 cat5">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_1.jpg",  alt: "")%>
            
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_1.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_3.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_3.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Pagess</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_4.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_4.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat3 cat4 cat1">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_5.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_5.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1 cat5">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_1.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_1.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat5 cat4">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_2.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_2.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_3.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_3.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_4.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_4.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
          <div class="portfolio-block">
          <%=image_tag("portfolio/1_5.jpg",  alt: "")%>
            <div class="portfolio-overlay">
              <div class="portfolio-btn-action">
                <a href="<%= image_path('portfolio/1_5.jpg')%>" data-fancybox="gallery">
                  <span class="fa fa-expand"></span>
                </a>
              </div>
              <div class="portfolio-desc">
                <h4 class="text-white">Creative Landing Page</h4>
                <p>Design & Branding</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="h1">
            Want to work with us
          </h2>
          <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto u-mb-40"></div>
          <p>
            We’ve Completed More Than 500+ project for our amazing clients, if you
            <br> interested?
          </p>
          <a href="#" class="btn btn-primary btn-rounded u-w-170 mt-5">
            Get a Quote
          </a>
        </div>
      </div>
    </div>
  </section>