<section class="u-py-100 u-h-100vh u-flex-center parallax" data-dark-overlay="6">
<div class="container">
  <div class="row">
    <div class="col-12 text-center text-white">
      <h1 class="text-white">
        Our Portfolio
      </h1>
      <div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
      <p class="lead">
        You can find several product design by our professional team
        <br> in this section.
      </p>
    </div>
  </div>
</div>
</section>
<section>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center my-4">
      <ul class="portfolio-filter list-inline box-shadow-v1 d-inline-block">
        <li class="list-inline-item active" data-filter="*">All Work</li>
        <li class="list-inline-item" data-filter=".cat1">Branding</li>
        <li class="list-inline-item" data-filter=".cat2">Consulting</li>
        <li class="list-inline-item" data-filter=".cat3">Corporate</li>
      </ul>
    </div>
  </div>
  <div class="row portfolio" data-init="img-gallery">
    <div class="col-md-6 col-lg-4 portfolio-item cat1 cat5">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_1.jpg", alt: "")%>
        
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_1.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_3.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_3.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_4.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_4.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat3 cat4 cat1">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_5.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_5.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1 cat5">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_1.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_1.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat5 cat4">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_2.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_2.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat3 cat1">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_3.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_3.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat2 cat3">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_4.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_4.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 portfolio-item cat1 cat2 cat5">
      <div class="portfolio-block">
      <%=image_tag("portfolio/1_5.jpg", alt: "")%>
        <div class="portfolio-overlay">
          <div class="portfolio-btn-action">
            <a href="portfolio-details.html">
              <span class="fa fa-link"></span>
            </a>
            <a href="<%= image_path('gallery/1_5.jpg')%>" data-fancybox="gallery">
              <span class="fa fa-expand"></span>
            </a>
          </div>
          <div class="portfolio-desc">
            <h4 class="text-white">Creative Landing Page</h4>
            <p>Design & Branding</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="bg-white">
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="h1">
        Want to work with us
      </h2>
      <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mx-auto u-mb-40"></div>
      <p>
        We’ve Completed More Than 500+ project for our amazing clients, if you
        <br> interested?
      </p>
      <a href="#" class="btn btn-purple btn-rounded u-w-170 mt-5">
        Get a Quote
      </a>
    </div>
  </div>
</div>
</section>